:root {
    --forground-color: white;
    --background-color: black;
    --forground-highlight-color: black;
    --background-highlight-color: white;
    --border-color: white;
    --table-header-color: rgb(55, 55, 60);
    --nav-height: 4rem;
    --from_height: 17rem;
    --positive-color: limegreen;
    --negative-color: firebrick;
}

body {
    margin: 0px;
    padding: 0 1rem;
    background-image: radial-gradient(var(--background-color), rgb(12, 12, 12), var(--background-color));
}

#outer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--border-color);
}

nav > a {
    padding: 0.1rem;
    border-radius: clamp(0.2rem, 0.5vw, 1rem);
    width: 10rem;
    text-align: center;
}

#nav-space {
    flex-grow: 1;
}

h1, a, th, p, label {
    color: var(--forground-color);
    background: var(--background-color);
    font-family: 'Space Mono', monospace;
    font-size: min(3vw, 1.5rem);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--forground-highlight-color);
    background: var(--background-highlight-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-size: 1rem 1rem;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 255) 1px, rgba(0, 0, 0, 0) 1px);
}

