.checkbox-container {
    width: 25rem;
}

.checkbox-container:focus {
    outline: none;
}

.checkbox-container input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-container label {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0);
    color: var(--negative-color);
    width: 100%;
    padding-left: 0.8em;
}

.checkbox-container label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.2em;
    left: calc(11.7rem - var(--chars) / 2);
    margin-right: 0;
    display: block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid var(--negative-color);
    border-radius: clamp(0.1rem, 0.3vw, 1rem);
    z-index: -1;
}

.checkbox-container:focus label:before {
    border-width: 2px;
}


.checkbox-container input[type=checkbox]:checked + label {
    color: var(--positive-color);
    justify-content: center;
    padding-left: 0;
}

.checkbox-container input[type=checkbox]:checked + label:before {
    top: 0;
    left: 0;
    width: 25rem;
    margin-right: -25rem;
    height: calc(1.2em + 2.65px);
    padding: 1px;
    border-color: var(--positive-color);
    border-radius: clamp(0.1rem, 0.5vw, 1rem);
}

.checkbox-container label, .checkbox-container label::before {
  transition: 0.25s all ease;
}
