#impressum-back {
    padding: 0.1rem;
    border-radius: clamp(0.2rem, 0.5vw, 1rem);
    text-align: center;
}

#impressum {
    color: var(--forground-color);
    height: max(90%, 20rem);
    width: max(50%, 20rem);
    padding: 2rem
}

#impressum > h1 {
    font-size: min(4vw, 2rem);
}


#impressum > p > a {
    text-decoration: underline var(--forground-color);
}
#impressum > p > a:hover {
    text-decoration: underline var(--forground-highlight-color);
}
