main {
    padding-top: 2rem;
}

form, #info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    height: var(--from_height);
    border: 1px solid var(--border-color);
    border-radius: clamp(0.2rem, 0.5vw, 1rem);
    padding: 2rem;
}

#info {
    width: 25rem;
    justify-content: start;
    row-gap: 0;
}

#info > h1 {
    margin-bottom: 0;
}

ul {
    padding-left: 20px;
    color: var(--forground-color);
    background: var(--background-color);
    font-family: 'Space Mono', monospace;
    font-size: min(3vw, 1.5rem);
}

input {
    text-align: center;
    width: 25rem;
    border: 1px solid var(--border-color);
    border-radius: clamp(0.2rem, 0.5vw, 1rem);
    color: var(--forground-color);
    background: var(--background-color);
    font-family: 'Space Mono', monospace;
    font-size: min(3vw, 1.5rem);
}

input:focus {
    outline: 2px solid white; /*todo red or green depending on min and max len*/
}

.error {
    color: var(--negative-color);
}


#submit_delete {
    color: var(--negative-color);
    border-color: var(--negative-color);
}
