{% extends 'base.html' %}
{% block title %}Impressum{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename="css/impressum.css") }}">{% endblock %}

{% block main %}
    <div id='impressum'>
        <h1>Impressum</h1>
        <p>
            Jan Luis Holtmann<br>
            Augsburg
        </p>

        <h1>Kontakt:</h1>
        <p>
            Telefon: +49 (0)163-6955847<br>
            E-Mail: <a id="mail" href='mailto:webmaster@janluis.de'>webmaster@janluis.de</a>
        </p>

        <p>
            Dies ist eine nicht kommerzielle Seite.<br>
        </p>
        <p>
            Der Hover Effect (scramble.js) wurde durch <a href='https://youtu.be/W5oawMJaXbU'>HYPERPLEXED</a> inspiriert.<br>
            Welcher sich wiederum von <a href='https://kprverse.com'>KPR</a> inspirieren hat lassen.<br>
            Der <a href='https://codepen.io/Hyperplexed/pen/rNrJgrd'>codepen</a> zum vergleich.
        </p>
        <p>
            IpShare verwendet die IP2Location LITE-Datenbank für <a href="https://lite.ip2location.com">IP-Geolokalisierung</a>.
        </p>

    </div>
{% endblock %}