{% extends 'base.html' %}
{% block title %}register{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/register.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/checkbox.css") }}">
{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename="scripts/register.js") }}"></script>{% endblock %}

{% block nav %}
    <a href="{{ url_for("ip_share_views.root") }}" data-letters="IPSHARE">IPSHARE</a>
    <a href="https://github.com/janluisho/ipshare" data-letters="GITHUB">GITHUB</a>
    <a href="{{ url_for("ip_share_views.impressum") }}" data-letters="IMPRESSUM">IMPRESSUM</a>
    <div id="nav-space"></div>
    <a href="{{ url_for("login_views.signin") }}" data-letters="SIGN IN">SIGN IN</a>
{% endblock %}

{% block main %}
    <div id="register-container">
        <form id="register-form" method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.name }}
            {{ form.password }}
            <div class="checkbox-container" style="--chars: 10ch;" data-desc="REMEMBER ME" data-heading="REMEMBER ME" tabindex="3">
                {{ form.remember }}
                <label for="remember">REMEMBER ME</label>
            </div>
            {{ form.submit_register }}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <h1 class="{{ category }}">{{ message }}</h1>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
        <div id="desc_field">
            <h1 id="desc_heading" data-desc="">REGISTER</h1>
            <p id="desc_text" data-desc="">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>

    </div>
{% endblock %}