{% extends 'base.html' %}
{% block title %}signin{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename="css/signin.css") }}">{% endblock %}

{% block nav %}
    <a href="{{ url_for("ip_share_views.root") }}" data-letters="IPSHARE">IPSHARE</a>
    <a href="https://github.com/janluisho/ipshare" data-letters="GITHUB">GITHUB</a>
    <a href="{{ url_for("ip_share_views.impressum") }}" data-letters="IMPRESSUM">IMPRESSUM</a>
    <div id="nav-space"></div>
    <a href="{{ url_for("login_views.register") }}" data-letters="REGISTER">REGISTER</a>
{% endblock %}

{% block main %}
    <form id="signin-form" method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.name }}
        {{ form.password }}
        {{ form.submit_login }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <h1 class="{{ category }}">{{ message }}</h1>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
{% endblock %}

{#        {% if form.name.errors %}#}
{#            <ul class="errors">#}
{#                {% for error in form.name.errors %}#}
{#                    <li>{{ error }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
